<%= form_with(model: announcement) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
        <% announcement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :author_announce %>
  </div>
  <div class="field">
    <%= form.label :announcement %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :publish_date %>
    <%= form.datetime_select :publish_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
