<%= form_with(model: meeting) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :Number %>
    <%= form.number_field :Number %>
  </div>

  <div class="field">
    <%= form.label :StartTime %>
    <%= form.datetime_select :StartTime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
