<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.Name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @meeting.Number %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @meeting.StartTime %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
