<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :Meeting_number %>
    <%= form.number_field :meeting_number, id: 'number' %>
  </div>

  <div class="field">
    <%= form.label :When? %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
