<p id="notice"><%= notice %></p>
<% if current_member.is_admin? %>
<h1>Attendances</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Meeting#</th>
      <th>Date/Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.email %></td>
        <td><%= attendance.meeting_number %></td>
        <td><%= attendance.attended_at %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
<td><%= button_to 'Click to Attend' ,{:controller => 'attendances', :action => 'create', :email => current_member.email, :meeting_number => 1, :attended_at => DateTime.current}, {:method => :post} %></td>
