<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uin</th>
      <th>Meeting number</th>
      <th>Attended at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.name %></td>
        <td><%= attendance.uin %></td>
        <td><%= attendance.meeting_number %></td>
        <td><%= attendance.attended_at %></td>
        <td><%= link_to 'Show', attendance %></td>

        <% if policy(@attendance).new?%>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
