<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @attendance.email %>
</p>

<p>
  <strong>Meeting number:</strong>
  <%= @attendance.meeting_number %>
</p>

<p>
  <strong>Attended at:</strong>
  <%= @attendance.attended_at %>
</p>
<% if current_member.is_admin? %>
<%= link_to 'Edit', edit_attendance_path(@attendance) %>
<% end %>

<%= link_to 'Back', attendances_path %>
